/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 120px;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 400%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#navbar {
  width: 100%;
  background-color: #696969;
  justify-content: center;
  align-content: center;
}


#navbar ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#navbar li {
  color: #DAA520;

}
#navbar li a{
  text-align: center;
  display: block;
  color: #fff;
  font-family: 'Abhaya Libre';
  padding: 3vh 10vh;
  font-size: 20pt;
}
